{% extends 'base.html' %}
{% load static %}

{% block title %}
    About
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block content %}
    <h1>About Us</h1>
    <br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur commodi sequi assumenda qui laudantium cumque repudiandae, perspiciatis ratione quis recusandae! Quibusdam blanditiis sunt incidunt dolores quisquam nulla aliquam nobis enim accusamus? Aut cupiditate beatae voluptate fuga, deserunt doloribus quam placeat ipsa omnis perspiciatis. Optio ea minima accusamus quod molestiae blanditiis totam eum ducimus, laudantium voluptates amet eveniet fugit reiciendis dicta dolore, exercitationem tempore sapiente quam itaque aliquam tempora fuga ratione nostrum? Ea possimus laudantium molestiae voluptate at excepturi temporibus officia esse modi, explicabo fugit? Incidunt laudantium, libero, suscipit, veritatis quos totam magnam perferendis sunt ab consequuntur veniam! Voluptate, iste corporis!</p>    
{% endblock content %}