{% extends 'base.html' %}

{% block title %}
    Contact Me
{% endblock title %}

{% block content %}
    <h1>Contact Us</h1>
    <p>1(234) 567-8901</p>
    <p>info@example.com</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora natus omnis autem officiis aperiam. Perferendis itaque, temporibus modi possimus inventore illum aliquam! Facilis, quidem error! Veritatis debitis dolore commodi sint, eaque dolores fuga neque consectetur, natus quam corrupti ipsam numquam. Consequuntur non magnam explicabo, molestias sed laboriosam nobis saepe pariatur.</p>
{% endblock content %}