.card{
    background-color: #6351ce;
    color: azure;
    display: flex;
    border: solid 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: rgb(5, 240, 248);
}

ul{
    display: flex;
    flex-direction: column;
}